@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0;
    background-color: #E8E7E9;
    font-family: 'lato';
}

header {
    background-color: #1A2542;
}

.logo img{
    width: 120px;
    height: 60px;
    margin-left: 630px;
}

.divider {
    border-top: 1px solid #FFFFFF;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'lato';
    font-weight: 600;
}

nav ul li a:hover {
    color: #3c5599;
    border-radius: 20px;
}

.contacto {
    color: #3c5599;
}

main h1 {
    text-align: center;
    font-size: 30px;
}

main p {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

main a {
    text-decoration: none;
}

main a:hover {
    color: #FFFFFF;
}

main form {
    display: flex;
    flex-direction: column;
}

main label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: 600;
}

.textos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    background-color: #E8E7E9;
    border-bottom: 1px solid #1A2542;
}

.textos:focus {
    outline: none;
    border-bottom: 1px solid #3e5697;
}

textarea {
    margin-left: auto;
    margin-right: auto;
    background-color: #E8E7E9;
    margin-bottom: 15px;
}

.submit {
    border: none;
    background-color: #1A2542;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 10px 64px 10px 64px;
    text-decoration: none;
    color: #FFFF;
    box-shadow: 0px 0px 3px black;
}

.submit:hover {
    cursor: pointer;
    color: #dbd9d9;
    background-color: #1f2d52;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A2542;
    padding-top: 5px;
}

footer a img {
    filter: brightness(1) invert(100%);
}

footer a img:hover {
    filter: brightness(1) invert(30%);
}